.tag {
  display: flex;
  gap: 0.625rem;
  background-color: #f6f7fa;
  padding: 0.5rem;
  border-radius: 0.3125rem;

  &__btn {
    border: 0;
    background-color: transparent;
    color: #bcbbbc;
    font-size: 1.5rem;
    line-height: 1rem;
    padding: 2px;
    border-radius: 0.1875rem;
    cursor: pointer;

    &:hover {
      background-color: #e9e8e9;
      color: #999899;
    }
  }
}
